/* 
    Document   : stylesheet
    Created on : May 25, 2013, 2:39:43 PM
    Author     : Cameron
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body {
    background-color: black;
}
#viewer {
    background: url('images/zoom0/0-0-0.jpg') no-repeat;
    background-size: 100%;
    width: 100%;
    padding-bottom: 75%;
    position: absolute;
    top: 0px;
    left: 0px;
}
#console {
    color: white;
    position: absolute;
    bottom: 0;
}